.nav-top {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-transform: uppercase;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.right{
    justify-content: flex-end;
}
.left{
    justify-content: flex-start;
}
nav > ul li {
    display: inline-flex;
    flex-direction: column;
    margin-right: 1em;
    text-align: left;
}

nav > ul li:last-of-type {
    margin-right: 0;
}

.dropdown {
    position: relative;
}
.dropdown > a::after{
    content: "▿";
}
.dropdown > ul {
    display: none;
    flex-direction: column;
    text-align: left;
}

.dropdown:hover > ul {
    display: flex;
}

.container {
    z-index: 0;
}