{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <article>
      {{ partial "main" . }}
    </article>
    <h1 class="title">{{i18n "new articles" | humanize }}</h1>
    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      {{ partial "sumarized" . }}
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
