{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
  {{ partial "main" .}}
  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
    <script src="/js/copycode.js"></script>
{{ end }}
{{ partial "disqus" . }}
{{ partial "footer" . }}
