<a href="{{- .Site.Params.editlink -}}content/{{ with .File }}{{- .Path -}}{{ end }}">
{{ i18n "edit page" | humanize }}!
</a>
{{ i18n "content is opensource" | humanize }}.
<a href="{{- .Site.Params.comment -}}{{ with .File }}{{- .Path -}}{{ end }}" title="{{ i18n "need to sign" | humanize }}"> 
{{ i18n "help to improve it" | humanize}}
</a>! 