||
{{ range first 1 . }}
<a class="subtitle is-6" href="{{ "/gradniki/" | relURL }}{{ . | urlize }}">g:{{ . }}</a>
{{ end }}

{{ if gt (len .) 1 }}
  {{ range after 1 . }}
  | <a class="subtitle is-6" href="{{ "/gradniki/" | relURL }}{{ . | urlize }}">g:{{ . }}</a>
  {{ end }}
{{ end }}