{{ partial "title" . }}
{{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
{{ partial "adsense" . }}
{{ end }}
<div class="content">
  {{ .Content }}
  {{ if .Site.Params.Info.related }}
  <div class="related">{{ partial "related" . }}</div>
  {{ end }}
</div>
{{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
{{ partial "adsense" . }}
{{ end}}
