    {{- range . -}}
    <li {{ if .HasChildren }}class="dropdown"{{ end }}>
        <a {{ if .HasChildren }}class="dropdown-button"{{ end }} href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
        </a>
        {{ if .HasChildren }}
        <ul>
            {{ range .Children }}
            <li>
                <a href="{{ .URL | absURL }}" title="{{ .Title }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </li>
    {{- end -}}