<nav class="nav-top nav">
    <ul class="left">
      {{ partial "menu" .Site.Menus.left }}
    </ul>  
    <ul class="right">
      {{ partial "menu" .Site.Menus.right }}
    </ul>
</nav>
<section class="section">
  <div class="container">
    {{- partial "social" . -}}
    {{- partial "breadcrumb" . -}}
  </div>
  <!--<script src="/js/navicon-shift.js"></script>-->
  
</section>