<section class="section">
  <div class="container">
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          {{ if .Paginator.HasPrev }}
          <a class="button" href="{{ .Paginator.Prev.URL }}">
            <span class="icon is-small is-marginless">
              {{ partial "svg/icons" "prev" }}
            </span>
            {{i18n "newer" | humanize}}
          </a>
          {{ end }}
        </div>
      </div>
      <div class="level-right is-marginless">
        <div class="level-item">
          {{ if .Paginator.HasNext }}
          <a class="button" href="{{ .Paginator.Next.URL }}">
            {{i18n "older" | humanize }}
            <span class="icon is-small is-marginless">
              {{ partial "svg/icons" "next" }}
            </span>
          </a>
          {{ end }}
        </div>
      </div>
    </nav>
  </div>
</section>
