{{ partial "title" . }}
<div class="content">
  {{ .Summary | plainify | safeHTML }}
  {{ if .Truncated }}
  <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
    {{ i18n "more" }}...
  </a>
  {{ end }}
</div>