<div class="nav-center">

{{ range .Site.Params.Supporters }}
{{ $banner := resources.Get .banner }}
<a href="{{ .url }}" class="nav-item" target="_blank" title="{{ .name }}"> 
    <img class="logo" src="{{ $banner.Permalink }}" alt="{{ .name }}">
</a>

{{ end }}
</div>