<div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
        {{ if .Params.gradniki }}
        {{ partial "gradniki" .Params.gradniki }}
        {{ end }}
</div>
<h2 class="subtitle is-6 date">{{ .Date.Format "2. 1. 2006" }}</h2>
<h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>